{% extends 'base.html.twig' %}

{% block title %}Libro Visitas - Conferencias{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ogalvez/uic/libro-visitas/src/Controller/ConferenceController.php'|file_link(0) }}">src/Controller/ConferenceController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ogalvez/uic/libro-visitas/templates/conference/index.html.twig'|file_link(0) }}">templates/conference/index.html.twig</a></code></li>
    </ul>
    <h1>{{ nombre_controller }} ✅</h1>

    <h2>Danos tu feedback de las siguientes conferencias:</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            {# La función path() nos lleva a una ruta haciendo uso de su nombre, en este caso: conference #}
            <a href="{{ path('conference', { id: conference.id }) }}">View</a>
        </p>
    {% endfor %}

</div>
{% endblock %}
